body{
  display: flex;
  flex-direction: column;

}

#main{
  max-height: 71vh;
  z-index: 0;
  background-color: #515568;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sidenav {
  height: 67vh;
  width: 22vw;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  background-color:#728AB0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav> img{
  width: 30%;
  
}
.sidenav ul{
  width: 100%;
  padding-left: 0;
}
.sidenav>ul li{
  list-style: none;

}
.sidenav>ul li a {
display: flex;
  flex-direction: row;
  align-items: center;
cursor: pointer;
  padding: 5vh;
  width: -webkit-fill-available;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 3vh;
  color: #010101;
  gap: 3vh;
 
}
.sidenav>ul>li>.sideNavLink.active{
 
  margin-right: 1vw;
  background: #fff;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #111;
  border-radius: 0 50vh 50vh 0;
}



.sidenav a span{
  font-size: 150%;
}

.sidenav>a:hover {
  background: #06396b;
  color: #d8d5d5;
}

/* #main {
  margin-left: 200px;  Same as the width of the sidenav
 */

#main>.content{
 display: flex;
  flex-grow: 3;
  width: 70%;
  color: #f8e9e9;
}

#main >.content>.content-box{
  background-color: #253555;
  margin: 2vh;
  border: white solid;
  border-radius: 30px;
  min-width: 69vw;
  height: 64vh;
  padding: 5vh;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}
.content > .content-box > .topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main > .content > .content-box >.info {
  display: flex;
  flex-direction: column;
  margin: 3vh;
  font-size: 2.5vh;
  margin-bottom: 0;
}

#main > .content > .content-box > .info > div{
   display: flex;
   flex-direction: row;
}

#main > .content > .content-box > .info > div > p{
  margin: 1vh;
  margin-left: 0;

}

#main> .content> .content-box > .button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;

 
}

.content> .content-box> .info> textarea{
  width: 100%;
  height: 15vh;
  font-size: 3vh;
}

.content> .content-box >.button> button{
  color: white;
    text-decoration: none;
  
    font-weight: 700;
    font-size: var(--h4);
  
    cursor: pointer;
    background: #23a6f0;
    border-radius: 10px;
    border: none;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 180px; */
    padding: 2vh 1vw;
    margin: 0 10px 0 10px;
    /* height: 20%; */
}

#main .content .content-box .button button:hover {
  background: #0088d7;
    filter: drop-shadow(0 0 20px #001039);
}
.info> textarea{
  margin: 12px;
}

footer{
  
  /* position: fixed;
  bottom: 0; */
}
footer .social{
  width: 19vw;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* top row div */
#button{
  color: white;
    text-decoration: none;
  
    font-weight: 700;
    font-size: var(--h4);
  
    cursor: pointer;
    background: #23a6f0;
    border-radius: 10px;
    border: none;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1vh 1vw;
    margin: 30px 10px 0 10px;
    height: auto;
}

#button:hover{
  background: #0088d7;
    filter: drop-shadow(0 0 20px #001039);
}